<footer class="bg-primary pt-5 pb-4 text-white">
    <div class="row container-fluid mx-0">
        <div class="col-md-4 col-6">
            <a routerLink="/" class="navbar-brand">
                <img src="assets/images/logo.png" alt="Github Search" class="img-fluid" />
            </a>
        </div>
        <div class="col-md-4 col-12 order-3 order-md-2 d-flex mt-4 mt-md-0">
            <p class="copyright text-center my-auto w-100">
                © {{year}}
            </p>
        </div>
        <div class="col-md-4 col-6 d-flex order-md-3">
            <p class="text-end attribution my-auto w-100">
                Made by <a href="" class="text-white">James</a>
            </p>
        </div>
    </div>
</footer>