@import "variables";
.search {
    @include media-breakpoint-up(md) {
        padding-right: 24px;
    }
    input {
        border-radius: 50px;
        @include media-breakpoint-up(md) {
            max-width: 400px;
        }
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
    .search-icon {
        position: absolute;
        right: 5px;
    }
    .btn {
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
}